extends layout

include _includes/sharedHtmlFunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp; #{pageHeader.strapLine}
        
  .row
    .col-12.col-md-8
      .error= message

      app-home-list 
      
    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/dist/loc8r-public/main-es2015.js')
  script(src='/dist/loc8r-public/main-es5.js')
  script(src='/dist/loc8r-public/polyfills-es2015.js')
  script(src='/dist/loc8r-public/polyfills-es5.js')
  script(src='/dist/loc8r-public/runtime-es2015.js')
  script(src='/dist/loc8r-public/runtime-es5.js')